# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SummerClass2D.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\birda\OneDrive\Documents\GitRepos\1610Summer2021\SummerClass2D\.idea\.idea.SummerClass2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
