# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Prototype 4.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\birda\OneDrive\Documents\GitRepos\1610Summer2021\CreateWithCode\Prototype 4\.idea\.idea.Prototype 4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
